body {
    margin: 0px;
    padding: 0px;
}

.mailer-container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header p {
    float: left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #ccc;
}

.sidebar {
    width: 33%;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    overflow-x: hidden;
}

.list {
    display: flex;
    flex-direction: column;
}

.preview-container {
    width: 75%;
    height: 100vh;
    overflow-y: auto;
}

.mailer-card {
    width: 100%;
    border: 1px solid #ccc;
    height: 100px;
}

.mailer-card-title {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}

.description-container {
    height: 70%;
    width: 70%;
    margin: 15%;
}